<nav class="">
    <ul>
        <li><a href="/">Create Welcome Message</a></li>
        <li><a href="/mail">Set Email Message</a></li>
        <li><a href="/block">Block Accounts</a></li>
        <li><a href="/transaction">Credit/Debit Accounts</a></li>
        <li><a href="mail-to-all">Mail To All</a></li>
    </ul>
    <div class="close-nav arrow-out-more">
        &#x2192;
    </div>
</nav>